<div class="container container_form">
  <div class="row container_signup">
    <div class="col signup mt-5">
      <h1>Alta cliente</h1>
      <form action="">
        <div class="form-group input_info">
          <label for="">Nombre:</label>
          <input #nameInput class="form-control" type="text">
        </div>
        <div class="form-group input_info">
          <label for="">CIF:</label>
          <input #cifInput class="form-control" type="text">
        </div>
        <div class="form-group input_info">
          <label for="">Dirección:</label>
          <input #addressInput class="form-control" type="text">
        </div>
        <div class="form-group input_info">
          <label for="">Grupo:</label>
          <select #groupSelect class="form-control" name="" id="">
            <option value="none">Sin definir</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
          </select>
        </div>
        <button (click)="newUser(nameInput.value, cifInput.value, addressInput.value, groupSelect.value)" type="submit" class="btn btn-primary">Guardar</button>
      </form>
    </div>
  </div>
  <app-table-users></app-table-users>
</div>

<router-outlet></router-outlet>
